{% extends "BackendBundle::backend.html.twig" %}

{% block menu_horizontal %}
    {% include 'BackendBundle:Default:menu_horizontal.html.twig' with {'pagina': 'publicacion'} %}
{% endblock %}


{% block body %}
<h1>Seleccionar tipo de publicacion</h1>
<ul class="nav nav-list">
    <li class="nav-header">Publicaciones</li>
    {% for key,value in tipos %}
    <li class="tipo-publicacion" tipo="{{key}}">
        <a href="{{path('publicacion_por_tipo',{'tipo': key })}}">{{value}}</a>
    </li>
    {% endfor %}    
</ul>
{% endblock %}

