article p {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}
body {
  background: url("/images/keyarts/bg_canvas.png");
  font-size: 16px;
}
footer {
  background: #000;
  bottom: 0px;
  color: #fff;
  font-size: 0.7em;
  height: 30px;
  position: relative;
  width: 100%;
}
footer #desarrollado {
  position: absolute;
  top: 100%;
  margin: -25px 0 0 0;
  right: 130px;
}
footer #facebook-footer {
  position: absolute;
  top: -20px;
  right: 0px;
}
footer #twitter-footer {
  position: absolute;
  top: -20px;
  right: 60px;
}
h2.titulo-article {
  background: url("/images/keyarts/separador.png");
  background-repeat: repeat-x;
  background-position: bottom left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: normal;
  margin: 16px 0;
  letter-spacing: -1.5px;
  padding-bottom: 13px;
  text-shadow: 2px 2px 0px #ccc;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}
h2.titulo-galeria {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -1.5px;
  line-height: 0.7em;
  margin: 16px 0;
  padding: 0;
  position: relative;
  text-shadow: 2px 2px 0px #ccc;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}
h2.titulo-galeria span {
  bottom: -1em;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -1.5px;
  right: 2em;
  text-transform: uppercase;
  position: absolute;
}
h2.titulo-galeria.titulo-galeria-find {
  background: url("/images/keyarts/separador.png");
  background-repeat: repeat-x;
  background-position: top left;
  padding-top: 26px;
}
header {
  margin: 1em auto;
  text-align: center;
  position: relative;
  width: 100%;
}
nav {
  background: url("/images/keyarts/menu.png");
  background-position: top center;
  background-repeat: no-repeat;
  height: 75px;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-right: 1em;
  margin-top: 0.7em;
  vertical-align: top;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
nav ul li a:hover,
nav ul li a:active {
  text-decoration: underline;
}
#boton-comprar {
  text-align: left;
}
#boton-comprar a {
  background: url("/images/keyarts/comprar.png") no-repeat center right;
  color: #fff;
  height: 24px;
  margin-left: 5px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em;
  width: 150px;
}
#contenedor {
  margin: 0 auto;
  min-height: 400px;
  width: 950px;
}
#contenido {
  text-align: center;
}
#contenido.botellas header h1 {
  color: #000;
  margin: 0.2em 0;
  text-align: left;
  text-transform: uppercase;
  line-height: 0.5em;
}
#contenido.botellas header h2 {
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}
#contenido-footer {
  padding: 0.7em;
}
#desarrollado img {
  opacity: 0.7;
  transition: all 1s ease;
}
#desarrollado:hover img {
  opacity: 1;
}
#foto-la-nina {
  margin: 0 auto;
  width: 100%;
}
#foto-la-nina img {
  border: 6px solid #fff;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 0.3em #808080;
  -moz-box-shadow: 0 0 0.3em #808080;
  -ms-box-shadow: 0 0 0.3em #808080;
  -o-box-shadow: 0 0 0.3em #808080;
  box-shadow: 0 0 0.3em #808080;
  max-width: 99%;
}
#lenguajes {
  top: 0px;
  right: 0px;
  position: absolute;
}
#lenguajes #lenguaje-es a,
#lenguajes #lenguaje-en a {
  color: #808080;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0 0.1em #808080;
  font-size: 0.7em;
}
#lenguajes span:first-child {
  border-right: 1px solid #808080;
  height: 1em;
}
#lenguajes span:last-child {
  margin-left: 5px;
}
#nav-left {
  background: url("/images/keyarts/menu.png") top left no-repeat;
  height: 75px;
  left: -60px;
  top: 132px;
  position: absolute;
  width: 80px;
}
#nav-right {
  background: url("/images/keyarts/menu.png") top right no-repeat;
  height: 75px;
  top: 132px;
  right: -60px;
  position: absolute;
  width: 80px;
}
#menus-botellas {
  background: url("/images/keyarts/bottletour-submenu.png") no-repeat center top;
  height: 40px;
  margin-bottom: 1em;
  width: 100%;
}
#menus-botellas ul {
  list-style: none;
  padding: 0;
}
#menus-botellas ul li {
  display: inline-block;
  vertical-align: top;
}
#menus-botellas ul li a {
  font-size: 0.9em;
  text-transform: uppercase;
  text-decoration: none;
}
#menus-botellas ul li a:hover {
  text-decoration: underline;
}
#redes-sociales {
  position: absolute;
  right: 0px;
  top: 80px;
}
#redes-sociales figure {
  display: inline-block;
  vertical-align: top;
}
#redes-sociales-pagina {
  text-align: left;
  width: 100%;
}
#redes-sociales-pagina figure {
  display: inline-block;
  vertical-align: top;
}
.botella {
  position: relative;
}
.botella .texto-floante-derecha {
  position: absolute;
  right: 0px;
  top: 0px;
}
.botellas {
  position: relative;
}
.botellas .descripcion-botella {
  left: 0px;
  position: absolute;
  top: 0px;
  width: 40%;
}
.botellas .descripcion-botella header h1,
.botellas .descripcion-botella header h2 {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -1.5px;
  text-shadow: 2px 2px 0px #ccc;
}
.botellas .descripcion-botella header h1 {
  font-size: 2em;
}
.botellas .descripcion-botella header h2 {
  font-size: 3em;
}
.botellas .descripcion-botella p {
  border-left: 6px solid #f00;
  padding-left: 5px;
}
.botellas #redes-sociales-pagina {
  text-align: right;
}
.contenedor-galeria {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 95%;
}
.contacto {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 45%;
}
.espadin {
  color: #920d10;
}
.madrecuixe {
  color: #8c00ec;
}
.tobala {
  color: #72ec03;
}
.tepextate {
  color: #033cff;
}
.pechuga {
  color: #20c2e8;
}
.primario-mezcal {
  color: #f2f2f2;
}
.primario-licor {
  color: #b40004;
}
.galeria {
  padding: 0.1em 0 0.5em 0;
  position: relative;
  width: 100%;
}
.galeria ul {
  list-style: none;
  padding: 0;
}
.galeria ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url("/images/keyarts/galeria_about.png") no-repeat center center;
  background-size: 100% 100%;
  display: inline-block;
  height: 225px;
  margin: 0.5em 3px;
  padding: 5px;
  vertical-align: top;
  width: 290px;
}
.galeria ul li a {
  margin: 0 auto;
  vertical-align: middle;
}
.galeria ul li a img {
  max-height: 100%;
  width: 100%;
}
.galeria figure.control-galeria-izquierda {
  margin: -23px -25px 0 0;
  right: 100%;
  top: 50%;
  position: absolute;
}
.galeria figure.control-galeria-derecha {
  left: 100%;
  margin: -23px 0 0 -25px;
  top: 50%;
  position: absolute;
}
.galeria.distribuidores {
  padding: 0;
}
.galeria.distribuidores figure.control-galeria-izquierda {
  margin: 0 -25px 0 0;
  top: 1em;
}
.galeria.distribuidores figure.control-galeria-derecha {
  margin: 0 0 0 -25px;
  top: 1em;
}
