article p {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}
body {
  background: url("/images/keyarts/bg_canvas.png");
  font-size: 16px;
}
footer {
  background-color: #222222;
  bottom: 0px; 
  color: #fff;
  font-family: 'GeorgiaRegular', Arial, Helvetica, sans-serif;
  font-size:.7em; 
  height: 42px; 
  position: relative;
  width: 100%;
}
footer #desarrollado {
  bottom: 100%;
  position: absolute;
  margin: 0 0 -35px 0;
  right: 130px;
}
footer #facebook-footer {
  position: absolute;
  top: -20px;
  right: 0px;
}
footer #twitter-footer {
  position: absolute;
  top: -20px;
  right: 60px;
}
h2.titulo-article {
  background: url("/images/keyarts/separador.png");
  background-repeat: repeat-x;
  background-position: bottom left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: normal;
  margin: 16px 0;
  letter-spacing: -1.5px;
  padding-bottom: 13px;
  text-shadow: 2px 2px 0px #ccc;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}
h2.titulo-galeria {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -1.5px;
  line-height: 0.7em;
  margin: 32px 0 16px 0;
  padding: 0;
  position: relative;
  text-shadow: 2px 2px 0px #ccc;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}
h2.titulo-galeria span {
  bottom: -1em;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -1.5px;
  right: 3.2em;
  text-transform: uppercase;
  position: absolute;
}
h2.titulo-galeria.titulo-galeria-find {
  background: url("/images/keyarts/separador.png");
  background-repeat: repeat-x;
  background-position: top left;
  margin: 16px 0 24px 0;
  padding-top: 32px;
}
header {
  margin: 1em auto;
  text-align: center;
  position: relative;
  width: 100%;
}
nav {
  background: url("/images/keyarts/menu.png");
  background-position: top center;
  background-repeat: no-repeat;
  font-family: 'CenturyGothicRegular', Arial, Helvetica, sans-serif;
}
nav > a {
  display: none;
}
nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 10px 15px;
}
nav a:hover,
nav a.active {
  text-decoration: underline;
}
nav li {
  position: relative;
}
nav li:hover > ul {
  max-height: 300px;
}
nav > ul {
  height: 75px;
  list-style: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
  vertical-align: top;
}
nav > ul > li > ul {
  left: -40px;
  top: 100%;
  position: absolute;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 1s linear;
  -moz-transition: max-height 1s linear;
  -ms-transition: max-height 1s linear;
  -o-transition: max-height 1s linear;
  transition: max-height 1s linear;
  width: 250px;
  z-index: 2000;
}
nav > ul > li > ul > li {
  background: url("/images/keyarts/menu.png");
  background-position: top center;
  background-repeat: no-repeat;
  list-style: none;
  margin-bottom: 1px solid #f00;
  text-align: left;
}
#boton-comprar {
  text-align: left;
  position: relative;
}
#boton-comprar > a {
  background: url("/images/keyarts/comprar.png") no-repeat center right;
  color: #fff;
  height: 24px;
  margin-left: 5px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em;
  width: 150px;
}
#boton-comprar:hover ul.menu-comprar {
  max-height: 300px;
}
#boton-comprar ul.menu-comprar {
  position: absolute;
  bottom: 6px;
  left: -35px;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 1s linear;
  -moz-transition: max-height 1s linear;
  -ms-transition: max-height 1s linear;
  -o-transition: max-height 1s linear;
  transition: max-height 1s linear;
  width: 250px;
  z-index: 2000;
}
#boton-comprar ul.menu-comprar li {
  background: url("/images/keyarts/menu.png");
  background-position: top center;
  background-repeat: no-repeat;
  list-style: none;
  margin-bottom: 1px solid #f00;
  text-align: left;
}
#boton-comprar ul.menu-comprar li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 10px 15px;
}
#contenedor {
  margin: 0 auto;
  min-height: 400px;
  width: 950px;
}
#contenido {
  text-align: center;
}
#contenido.botellas header h1 {
  color: #000;
  margin: 0.2em 0;
  text-align: left;
  text-transform: uppercase;
  line-height: 0.5em;
}
#contenido.botellas header h2 {
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}
#contenido-footer {
  padding: 1.1em;
}
#desarrollado img {
  opacity: 0.1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;
}
#desarrollado:hover img {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
#foto-la-nina {
  margin: 0 auto;
  width: 100%;
}
#foto-la-nina img {
  border: 6px solid #fff;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 0.3em #808080;
  -moz-box-shadow: 0 0 0.3em #808080;
  -ms-box-shadow: 0 0 0.3em #808080;
  -o-box-shadow: 0 0 0.3em #808080;
  box-shadow: 0 0 0.3em #808080;
  max-width: 99%;
}
#lenguajes {
  top: 0px;
  right: 0px;
  position: absolute;
}
#lenguajes #lenguaje-es a,
#lenguajes #lenguaje-en a {
  color: #808080;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
}
#lenguajes span:first-child {
  border-right: 1px solid #808080;
  height: 1em;
}
#lenguajes span:last-child {
  margin-left: 5px;
}
#nav-left {
  background: url("/images/keyarts/menu.png") top left no-repeat;
  height: 75px;
  left: -60px;
  top: 132px;
  position: absolute;
  width: 80px;
}
#nav-right {
  background: url("/images/keyarts/menu.png") top right no-repeat;
  height: 75px;
  top: 132px;
  right: -60px;
  position: absolute;
  width: 80px;
}
#menus-botellas {
  background: url("/images/keyarts/bottletour-submenu.png") no-repeat center top;
  height: 40px;
  margin-bottom: 1em;
  width: 100%;
}
#menus-botellas ul {
  list-style: none;
  padding: 0;
}
#menus-botellas ul li {
  display: inline-block;
  vertical-align: top;
}
#menus-botellas ul li a {
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 0.1em;
}
#menus-botellas ul li a.active,
#menus-botellas ul li a:hover {
  text-decoration: underline;
}
#redes-sociales {
  position: absolute;
  right: 0px;
  top: 80px;
}
#redes-sociales figure {
  display: inline-block;
  vertical-align: top;
}
#redes-sociales-pagina {
  text-align: left;
  width: 100%;
}
#redes-sociales-pagina figure {
  display: inline-block;
  vertical-align: top;
}
#botella {
  position: relative;
}
#botella .descripcion-botella {
  left: 0px;
  position: absolute;
  top: 0px;
  width: 40%;
}
#botella .descripcion-botella header h1,
#botella .descripcion-botella header h2 {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -1.5px;
  text-shadow: 2px 2px 0px #ccc;
}
#botella .descripcion-botella header h1 {
  font-size: 2em;
}
#botella .descripcion-botella header h2 {
  font-size: 3em;
}
#botella .descripcion-botella p {
  font-family: 'GeorgiaRegular', Arial, Helvetica, sans-serif;
  border-left: 6px solid #f00;
  padding-left: 5px;
}
#botella .mensaje-toltip {
  font-size: 1em;
  text-transform: capitalize;
  position: absolute;
}
#botella .mensaje-toltip.right {
  text-align: right;
  right: 125px;
}
#botella .mensaje-toltip.left {
  text-align: left;
  left: 95px;
}
.botellas {
  position: relative;
}
.botellas #redes-sociales-pagina {
  text-align: right;
}
.contenedor-galeria {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 95%;
}
.contacto {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 45%;
}
.espadin {
  color: #920d10;
}
.madrecuixe {
  color: #8c00ec;
}
.tobala {
  color: #72ec03;
}
.tepextate {
  color: #033cff;
}
.pechuga {
  color: #20c2e8;
}
.primario-mezcal {
  color: #f2f2f2;
}
.primario-licor {
  color: #b40004;
}
.galeria {
  padding: 0.1em 0 0.5em 0;
  position: relative;
  width: 100%;
}
.galeria ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.galeria ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 5px;
  vertical-align: top;
}
.galeria ul li.item-regular {
  background: url("/images/keyarts/galeria_about.png") no-repeat center center;
  background-size: 100% 100%;
  height: 225px;
  width: 290px;
}
.galeria ul li.item-small {
  background: url("/images/keyarts/retail_galeria.png") no-repeat center center;
  background-size: 100% 100%;
  height: 146px;
  width: 195px;
}
.galeria ul li.item-distribuidores {
  background: url("/images/keyarts/separadorvertical.png") no-repeat top right;
  height: 560px;
  width: 300px;
}
.galeria ul li a {
  margin: 0 auto;
  vertical-align: middle;
}
.galeria ul li a img {
  max-height: 100%;
  width: 100%;
}
.galeria figure.control-galeria-izquierda {
  margin: -23px -25px 0 0;
  right: 100%;
  top: 50%;
  position: absolute;
  z-index: 1000;
}
.galeria figure.control-galeria-izquierda a {
  background: url("/images/arrow_left.png") no-repeat center center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: transparent;
  height: 46px;
  padding: 15px;
  width: 32px;
}
.galeria figure.control-galeria-derecha {
  left: 100%;
  margin: -23px 0 0 -25px;
  top: 50%;
  position: absolute;
  z-index: 1000;
}
.galeria figure.control-galeria-derecha a {
  background: url("/images/arrow_right.png") no-repeat center center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: transparent;
  height: 46px;
  padding: 15px 15px;
  width: 32px;
}
.galeria.distribuidores {
  padding: 0;
}
.galeria.distribuidores figure.control-galeria-izquierda {
  margin: 0 -25px 0 0;
  top: 1em;
}
.galeria.distribuidores figure.control-galeria-derecha {
  margin: 0 0 0 -25px;
  top: 1em;
}
.informaciones p,.mensaje-toltip,.qtip-content
{
  font-family: 'GeorgiaRegular', Arial, Helvetica, sans-serif;
}