ul.tweets-lista{
    width: 100%;
    height: 290px;
    overflow: hidden;
}

li.tweet-item{
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}

.tweet-item-contenedor{
    height: 60px;
    width: 100%;
}

.tweet-item-contenedor .tweet-item-imagen{
    float: left;
    margin-right: 20px;
    width: 60px;
}
.tweet-item-contenedor .tweet-item-contenido{
    float: left;
    width: 85%;
    text-align: left;
}
.tweet-item-contenedor .tweet-item-contenido span.tweet-item-tiempo{
    width: 100%;
    text-align: right;
    display: inline-block;
}

.tweet-item-contenedor .tweet-item-controles{
    clear: both;
}